In [6]:
import pandas as pd

## Fetch data from internet

In [4]:
!rm -rf ./data
!mkdir data
!wget http://files.grouplens.org/datasets/movielens/ml-20m.zip -O ./data/ml-20m.zip
!unzip ./data/ml-20m.zip -d ./data

wget: /usr/local/lib/libcrypto.so.1.0.0: no version information available (required by wget)
wget: /usr/local/lib/libssl.so.1.0.0: no version information available (required by wget)
wget: /usr/local/lib/libssl.so.1.0.0: no version information available (required by wget)
--2018-11-12 10:25:33--  http://files.grouplens.org/datasets/movielens/ml-20m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.34.235
Connecting to files.grouplens.org (files.grouplens.org)|128.101.34.235|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 198702078 (189M) [application/zip]
Saving to: ‘./data/ml-20m.zip’

./data/ml-20m.zip   100%[===================>] 189.50M  27.9MB/s    in 7.5s

2018-11-12 10:25:41 (25.3 MB/s) - ‘./data/ml-20m.zip’ saved [198702078/198702078]

Archive:  ./data/ml-20m.zip
   creating: ./data/ml-20m/
  inflating: ./data/ml-20m/genome-scores.csv
  inflating: ./data/ml-20m/genome-tags.csv
  inflating: ./data/ml-20m/links.csv
  inflating: ./data/ml-20m/movies.csv
  inflating: ./data/ml-20m/ratings.csv
  inflating: ./data/ml-20m/README.txt
  inflating: ./data/ml-20m/tags.csv

## Load data into Pandas dataframe

In [10]:
df_movies = pd.read_csv('./data/ml-20m/movies.csv')
df_rating = pd.read_csv('./data/ml-20m/ratings.csv')
df_tags = pd.read_csv('./data/ml-20m/tags.csv')
df_links = pd.read_csv('./data/ml-20m/links.csv')
df_genome_scores = pd.read_csv('./data/ml-20m/genome-scores.csv')
df_genome_tags = pd.read_csv('./data/ml-20m/genome-tags.csv')

In [9]:
df_movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [12]:
df_rating.head(10)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580
5       1      112     3.5  1094785740
6       1      151     4.0  1094785734
7       1      223     4.0  1112485573
8       1      253     4.0  1112484940
9       1      260     4.0  1112484826

In [13]:
df_tags.head(10)

   userId  movieId               tag   timestamp
0      18     4141       Mark Waters  1240597180
1      65      208         dark hero  1368150078
2      65      353         dark hero  1368150079
3      65      521     noir thriller  1368149983
4      65      592         dark hero  1368150078
5      65      668         bollywood  1368149876
6      65      898  screwball comedy  1368150160
7      65     1248     noir thriller  1368149983
8      65     1391              mars  1368150055
9      65     1617          neo-noir  1368150217

In [14]:
df_links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [15]:
df_genome_scores.head(10)

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675
5        1      6    0.21700
6        1      7    0.06700
7        1      8    0.26275
8        1      9    0.26200
9        1     10    0.03200

In [16]:
df_genome_tags.head(10)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s
5      6         1950s
6      7         1960s
7      8         1970s
8      9         1980s
9     10  19th century